<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <sectionGroup name="NUnit">
      <section name="TestCaseBuilder" type="System.Configuration.NameValueSectionHandler"/>
      <section name="TestRunner" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <NUnit>
    <TestCaseBuilder>
      <add key="OldStyleTestCases" value="false" />
    </TestCaseBuilder>
    <TestRunner>
      <add key="ApartmentState" value="MTA" />
      <add key="ThreadPriority" value="Normal" />
      <add key="DefaultLogThreshold" value="Debug" />
    </TestRunner>
  </NUnit>
  
  <log4net configSource="log4net.config" />

  <runtime>
    <generatePublisherEvidence enabled="false"/>
  </runtime>
  
</configuration>